.dark-mode {
    background-color: black !important;
    color: white !important;
}

a:visited {
    color: darkred;
}

a {
    color: blueviolet;
}

a:hover {
    color: green;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul {
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Cedarville Cursive', cursive;
}

h1 {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    color: black;
    font-size: 72px;
    text-align: center;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

iframe {
    position: relative;
    border: none;
    min-width: 450px;
}

article {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

article > h2 {
    left: 0;
    text-align: center;
    top: 30px;
    width: 100%
}

article > div > span:nth-child(1) {
    font-weight: bold;
}

article > div > address> a {
    font-style: normal;
}

div.new {
    font-size: large;
    color: rgb(0, 190, 0);
}

table {
    border-style: groove;
    border-color: gray;
}

section > h2 {
    font-weight: bold;
}

dd {
    margin-top: 6px;
    margin-bottom: 28px;
}

.gf::before {
    content: 'gf ';
}

.vg::before {
    content: 'vg ';
}

.vg.gf::before {
    content: 'gf vg ';
}

section > h2 + section {
    margin-bottom: 20px;
}

section > section + section {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    max-width: fit-content;
    border-color: gray;
    border-style: groove;
}

tbody > tr:nth-child(odd) {
    background-color: aliceblue;
    color: black;
}

tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

tfoot {
    font-size: 0.9em;
    font-style: italic;
}

img[src="images/homepage banner.jpeg"] {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*="images/food"] {
    height: 300px;
    width: 400px;
}

p {
    text-indent: 36px;
}


